.relatedproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
.relatedproducts h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.relatedproducts hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.relatedproducts-container {
  width: 100%; /* Adjust this width as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping to next line */
}
.relatedproducts-item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
